@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@plugin "daisyui";

/* Color Scheme (matching the logo):
Primary: #003049 (Dark Blue)

Secondary: #007A88 (Teal/Accent)

Background: #F9FAFB (Soft Light)

Text: #111827 (Dark Gray) */

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

.buttonColor {
  background: #007a88;
  color: #f9fafb;
}

.sectionTitle::after {
  content: " ";
  display: block;
  width: 80px;
  height: 3px;
  background: #007a88;
  margin-top: 10px;
}
